body
{
    font-family: Montsrrat;
    text-align: center;
}


.container-fluid
{
    padding: 3% 15%;
}

/* sections */

.colored-section
{
    background-color: rgb(169, 108, 243);
    color: white;
}
.white-section
{
    color: black;
}
/* headings */

h1 , h2 , h3 , h4 , h5
{
    font-family: Montserrat;
    font-weight: bold;

}

.big-heading
{ 
    font-family: Montserrat;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}

.section-heading
{
    font-size: 3rem;
    color: black;
    text-align: left;
}

/* Navigation Bar */
.navbar
{
    padding: 0 0 2.5rem;
}
.navbar-brand
{
    font-family: Ubuntu;
    font-size: 2.3rem;
}

.nav-item
{
    padding: 0 18px;
}

.nav-link
{
    font-size: 1.2rem;
    font-family: Montserrat-light;
}


/* Download Button */
.download-button
{
    margin: 5% 3% 5% 0;
}

/* title section */
#title .container-fluid
{
    padding: 3% 15% 7%;
    background-color: rgb(125, 49, 219);
    text-align: left;
}
.title-image
{
    width: 100%;
    /* transform: rotate(5deg); */
    /* margin-left: 38%; */
}

/* Features Section */

#features
{
    padding: 7% 15%;
}

.feature-box
{
    padding: 5%;
}
.icon
{
    color: rgb(105, 96, 236);
    margin-bottom: 1rem;
}
.icon:hover
{
    color: rgb(225, 21, 244);
}

/* testimonial */

#testimonials
{
    background-color: rgb(136, 71, 197);
}

.testimonial-image
{
    width: 50%;
    /* border-radius: 100%; to make the image look circle */
    margin: 20px;
}

.testimonial-image2
{
    width: 40%;
    /* border-radius: 100%; to make the image look circle */
    margin: 20px;
}

.testimonial-image3
{
    width: 25%;
    /* border-radius: 100%; to make the image look circle */
    margin: 20px;
}
.testimonial-text
{
    font-size: 3rem;
}
.carousel-item
{
    padding: 7% 15%;
}

#press
{
    padding-bottom: 3%;
}
.press-img
{
    width: 20%;
}
.press-img1
{
    width: 10%;
}

/* items */

#items
{
    background-color: rgb(197, 152, 252); 
}

.card-img-top
{
    height: 340px;
}
.card-img-mid
{
    height: 340px;
}
.card-img-bottom
{
    height: 340px;
}
.item-column
{
    padding-top: 3%;
}
.card
{
    color: black;
}
/* footer */
#footer
{
    background-color: rgb(169, 108, 243);
    color: black;
}
.foot
{
    padding: 1%;
}